/* NOTE: ALL SVG STYLING SHOULD BE DONE IN JS SO THAT IMAGE EXPORT CONTAINS
/* ALL STYLING ATTRIBUTES */

@font-face {
    font-family: "Merriweather";
    src: url(Merriweather.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
    --background-color: light-dark(#ffffff, #1b1b1b);
    --panel-background-color: light-dark(rgba(228, 228, 228, 0.7), rgba(27, 27, 27, 0.7));
    --font-color: light-dark(#000000, #ffffff);
    --disabled-btn-color: light-dark(rgba(204, 204, 204, 0.7), rgba(68, 68, 68, 0.7));
    --shadow-color: light-dark(#cccccc, #444444);
    --selected-btn-color: rgba(144, 185, 133, 0.7);
    --selected-border-color: light-dark(#000000, #ffffff);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Merriweather", serif;
    box-sizing: border-box;
}

#hexaggon {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#welcomeContainer {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
}
#welcome {
    color: black;
}
#welcome > :first-child {
    margin-top: auto;
}
#welcome > :last-child {
    margin-bottom: auto;
}

.h1 {
    font-size: 70px;
}

.disclaimer {
    font-size: 30px;
    max-width: 600px;
}

.brushcursor {
    cursor:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='font-size:24px;'><text y='50%'>🖌</text></svg>")
            0 16,
        auto;
}

.fillcursor {
    cursor:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='font-size:24px;'><text y='50%'>🪣</text></svg>")
            16 0,
        auto;
}

.eyedroppercursor {
    cursor:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='font-size:24px;'><text y='50%'>💧</text></svg>")
            20 0,
        auto;
}

.erasercursor {
    cursor:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='font-size:24px;'><text y='50%'>🧻</text></svg>")
            0 0,
        auto;
}

.movecursor {
    cursor: move;
}

.btn {
    width: 35px;
    height: 35px;
    color: var(--font-color);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border: none;
    text-shadow: 0 0 2px #444;
}

.btn > label {
    cursor: pointer;
}

.hexagon-btn > svg {
    height: 21px;
}

.delete-file-btn {
    cursor: pointer;
}

.toolbar {
    padding: 1rem;
    position: absolute;
    max-height: 100%;
}

.top-center {
    left: 0;
    right: 0;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}

.bottom {
    bottom: 0;
    align-items: end;
}

.frosted {
    filter: blur(10px);
}

.control-panel {
    padding: 10px;
}

.swatch {
    width: 21px;
    height: 21px;
    cursor: pointer;
    border: 1px solid var(--shadow-color);
}

/* The whole entire hex map */
#minimap {
    height: 100px;
    /* By default, SVG elements are inline elements, and they sort of behave like text.
     * Hence, they are subject to line-height, which defaults to non-zero, which adds
     * height to the element. So, either set line-height of the container to 0, or make
     * the SVG display block/inline-block
     * https://stackoverflow.com/questions/75751593/why-there-is-additional-4px-height-for-div-when-there-is-svg-inside-it
     */
    display: block;
}

#hexmap {
    width: 100vw;
    height: 100vh;
}

#textFontSize {
    width: 60px;
    height: 35px;
    margin: 0;
    font-size: 20px;
    text-align: right;
}

.grid-dimension {
    width: 30px;
}

.loaded-file-entry {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    align-content: center;
    padding: 5px;
    border-radius: 10px;
}

.loaded-file-name {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    align-content: center;
}

.loaded-file-entry:hover {
    background: rgba(255, 255, 255, 0.4);
}

#fileName {
    padding: 5px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    background: transparent;
}

#fileName:focus {
    max-width: 1000px;
}

#loadBtn {
    display: none;
}

/* Composible properties */
.hidden {
    /* eslint-disable-next-line css/no-important */
    display: none !important;
}

.disabled-btn {
    /* eslint-disable-next-line css/no-important */
    cursor: default !important;
    filter: saturate(0%);
    background: var(--disabled-btn-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gappy {
    gap: 0.5rem;
}

.selected {
    background: var(--selected-btn-color);
}

.primaryselected {
    border: 3px solid var(--selected-border-color);
}

.secondaryselected {
    border: 3px dotted var(--selected-border-color);
}

.border-box {
    box-sizing: border-box;
}

.no-pointer-events {
    pointer-events: none;
}

.allow-pointer-events {
    /* eslint-disable-next-line css/no-important */
    pointer-events: auto !important;
}

.overlaid {
    border-radius: 10px 10px 10px 10px;
    overflow: scroll;
    height: fit-content;
    width: fit-content;
    background: var(--panel-background-color);
    align-items: center;
    backdrop-filter: blur(6px);
}

.right-aligned {
    top: 0;
    right: 0;
}

.flip-90deg {
    transform: rotate(90deg);
    transform-origin: center;
}

/* remaining is copy-pasted; it makes the grid thickness slider look how it does */

input[type="range"] {
    -webkit-appearance: none;
    max-width: 7rem;
    width: 100%;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0.9rem;
    margin: 0;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to bottom right, transparent 50%, var(--background-color) 50%);
}

input[type="range"]::-moz-range-track {
    height: 0.9rem;
    margin: 0;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to bottom right, transparent 50%, var(--background-color) 50%);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 0.5rem;
    background: var(--background-color);
    border: 1px solid;
    margin-top: -5px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0px 0px 7px 3px #0065c4;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 0.5rem;
    background: var(--background-color);
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0;
}

input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0px 0px 7px 3px #0065c4;
}
